.app-container {
  width: 390px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5f5f5;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}
.content-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 60px);
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.menu-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}
.logo-landing {
  width: 87px;
  height: 53px;
  margin-top: 0;
}

.landing-content {
  text-align: center;
  margin-top: 100px;
  z-index: 1;
}

.landing-content h1 {
  font-size: 36px;
  font-weight: 300;
  color: #333333;
}

.landing-content .walk-explorer {
  font-weight: 400;
  color: #d05c00;
}

.landing-content .description {
  font-size: 20px;
  font-style: italic;
  font-weight: 250;
  color: #000000;
  line-height: 1.6;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0 20px;
}

button.get-started-btn {
  background-color: #000000;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  margin-top: 20px;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

button.get-started-btn:hover {
  background-color: #333333;
}

.background-image-container {
  position: absolute;
  top: 261px;
  left: 60px;
  width: 370px;
  height: 584px;
  z-index: 0;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
