.fav-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav-modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 360px;
  max-width: 90%;
}

.fav-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.fav-close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.fav-modal-body {
  margin-top: 20px;
}

.route-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
}

.route-item:hover {
  background: #f0f0f0;
}
.route-info {
  flex-grow: 1;
}
.confirm-delete-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-icon {
  color: #ff4d4d;
  cursor: pointer;
}

.delete-icon:hover {
  color: #ff1a1a;
}

.confirm-delete-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-delete-content {
  position: relative;
  background: white;
  padding: 20px;
  width: 30%;
  border-radius: 8px;
  text-align: center;
}

.confirm-delete-content p {
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.confirm-delete-content button {
  background: #000000;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 30px;
  padding: 5px 20px;
  cursor: pointer;
  margin: 0 10px;
}
.confirm-delete-content button:hover {
  background: #333;
}
.route-detail-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.route-detail-content {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 40%;
  height: fit-content;
}

.route-detail-content h3 {
  margin-top: 5px;
  font-size: 20px;
  margin-bottom: 10px;
}

.route-detail-content p {
  margin-bottom: 20px;
  font-size: 16px;
}

.route-detail-content button {
  background: #000000;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 30px;
  padding: 5px 20px;
  cursor: pointer;
  margin: 0 10px;
}
.route-detail-content button:hover {
  background: #333;
}
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
