.app-container {
  width: 390px;
  height: 844px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f5f5f5;
  margin: 0 auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.search-bar-container {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  z-index: 10;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bookmark-icon {
  position: absolute;
  bottom: 30px;
  left: 20px;
  z-index: 10;
}

.fab {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
}
.hamburger-icon {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 20px;
  z-index: 10;
}
.route-popup {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 8px;
  width: 90%;
  text-align: center;
  z-index: 10;
}

.route-popup h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.route-popup ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.route-popup li {
  font-weight: bold;
  cursor: pointer;
}

.route-description {
  margin-top: 10px;
}
.custom-popup .mapboxgl-popup-content {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-header {
  border-bottom: 2px;
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: bold;
}

.popup-body {
  font-size: 14px;
  text-align: center;
  margin-bottom: 10px;
}

.popup-button {
  width: 120px;
  padding: 10px 18px;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  cursor: pointer;
}

.popup-button:hover {
  background-color: #e9ebee;
}
.marker-start,
.marker-end {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ffe193;
  border: 2px solid white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.marker-end {
  background-color: blue;
}
